.react-html5-camera-photo {
    position: relative;
    text-align: center;
  }
  
  .react-html5-camera-photo > video {
    object-fit:cover;
   
   
   margin-top: 2%;
  }

    
  .react-html5-camera-photo > img {
   object-fit: cover;

  }
  
  .react-html5-camera-photo > .display-error {
   object-fit: cover;
    margin: 0 auto;
  }
  
  @media(max-width:768px){
    .react-html5-camera-photo > video, .react-html5-camera-photo > img {
       width:98vw;
       height: 65vh;
       
     
    } 
     .react-html5-camera-photo > .display-error {
        width:100vw;
        height:55vh
     
    }
  } 
  
  /* fullscreen enable by props */
  .react-html5-camera-photo-fullscreen > video, .react-html5-camera-photo-fullscreen > img {
    width: 100vw;
    height:100vh;
  }
  .react-html5-camera-photo-fullscreen > video {
    object-fit: fill;
  }
  .react-html5-camera-photo-fullscreen > .display-error {
    width: 100vw;
    height:100vh;
  }


 /* circle button */

  #container-circles {
  position: absolute;
  left: 50%;
  bottom: 90px;
}

#outer-circle {
  position: absolute;
  left: -37px;

  height: 75px;
  width: 75px;

  
    /* opacity of 0.4 */
  
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;

  z-index: 1;
}

#inner-circle {
  position: absolute;
  left: 50%;
  top: 38px;

  height: 44px;
  width: 44px;

  background: white;
  border-radius: 50%;

  /*
   Offset the position correctly with
   minus half of the width and minus half of the height
  */
  margin: -22px 0px 0px -22px;

  /*
    On the top of outer-circle
  */
  z-index: 2;
}

#inner-circle.is-clicked {
  height: 38px;
  width: 38px;
  margin: -19px 0px 0px -19px;
}

/* display error */

#display-error {
    color: black;
    background-color: white;
  }

  /* close button */
  #container-close-button {
    position: absolute;
    left: 80%;
    top: 10px;
    height: 0;
    width: 10px;
    z-index: 1;
    font-size: 20px;
    color: white;
    background-color: red;
    cursor: pointer;
  }
  /* white flash */

  #white-flash.normal {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity :1;
    transition:opacity .9s ease-out;
  }
  
  #white-flash.do-transition {
    opacity: 0;
    background: white;
  }
